<% if user_signed_in? %>
<div class="center hero-unit">
	<h1>You're signed in, thank you!</h1>
	<h2>There is more to come, stay tuned.</h2>
</div>
<% else %>
<div class="center hero-unit">
	<h1>Built On Rails</h1>
	<h2 id="hero">You've found the home page for my first rails application.</h2>
	<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>

<% end %>