<div id="footer">
	<div class="container">
		<p class="muted credit">
			Check out this sweet sticky footer!</br>
			New Rails App by <%= link_to "William Kernan", "http://blog.wkernan.com" %>
		</p>
	</div>
</div>